[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-tavily = "*"
python-dotenv = "*"
groq = "*"
openai = "*"
streamlit = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
